$primary-color: #878787;
$secondary-color: #ffdd22;
$orange-color: #ffa811;
$dark-orange-color: #e08e00;
$light-black-color: #333e48;
$black-color: #000000;
$grey-color: #f5f5f5;
$light-yellow-color: #fee456;
$light-grey-color: #e3e3e3;
$light-grey-color-second: #f9f9f9;
$white-color: #fff;


