@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

*,
*:before,
*:after {
  margin: 0; 
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  margin: 0 0 17px 0;
  font-size: 32px;
  font-weight: 300;
  color: var(--light-black-color);
}

h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

h3 {
  font-size: 22px;
  font-weight: 400;
  margin: 10px 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}

.main {
  flex-grow: 1;
  margin-top: 50px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 890px) {
  .main-container {
      flex-direction: column;
      flex-wrap: nowrap;
  }
}

.page-content {
  flex: 0 0 75%;
  padding-left: 30px;
}

@media screen and (max-width: 890px) {
  .page-content {
    padding-left: 0;
  }
}

.message {
  margin: 100px auto;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 890px) {
  .message {
    margin: 0;
    text-align: center;
  }
}

.footer-container {
  width: 100%;
}