.modal-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 80px;
  background-color: $light-yellow-color;
  color: $black-color;
  border-radius: 8px;
  border: 1px solid $light-black-color;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease;
  text-align: center;
}

.modal-container.show {
  opacity: 1;
  visibility: visible;
}